RewriteEngine On

# Allow access to files and directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^(.*)$ /trainscoreflow/index.php?url=$1 [QSA,L]
